<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div id="naviconbg">
    <a href="/cocktails">
      <a class="navbar-brand" href="/cocktails">
        <i class="fas fa-glass-martini-alt" id="navicon"></i>
      </a>
    </a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="btn btn-primary" href="/cocktails/new">Add New Cocktail</a>
      </li>
    </ul>
  </div>
</div>
<div class="container justify-content-center">
  <h1 class="cocktailname"><%= @cocktail.name %></h1>
  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <ul>
    <% @doses.each do |dose| %>
      <li><%= dose.ingredient.name %> — <%= dose.description %>
          <%= link_to "Delete", dose_path(dose), method: :delete %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add a Dose", new_cocktail_dose_path(@cocktail) %>
  <p><%= link_to "Back to Cocktails", cocktails_path %></p>
</div>
