<!DOCTYPE html>
<html>
  <head>
    <title>Edo Cocktails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@600&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <div id="naviconbg">
    <a href="/cocktails">
      <a class="navbar-brand" href="/cocktails">
        <i class="fas fa-glass-martini-alt" id="navicon"></i>
      </a>
    </a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="btn btn-primary" href="/cocktails/new">Add New Cocktail</a>
      </li>
    </ul>
  </div>
</div>
    <%= yield %>
  </body>
</html>
